@import "tailwindcss";

@theme {
  --color-wine: #3B0014;
  --color-olive: #687451;
  --color-starlight: #F0E7C2;
  --color-background: var(--color-starlight);
  --color-foreground: var(--color-wine);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none; /* Hide scrollbar */
  }
  body::-webkit-scrollbar {
    display: none;
  }
}